html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
  background: #222 !important;
  background-image: url("assets/img/ui/bg-primary.jpg") !important;
}

@font-face {
  font-family: "Paintball";
  src: url(./assets/fonts/ProjectPaintball.woff) format("woff"),
  url(./assets/fonts/ProjectPaintball.ttf) format("ttf");
}

@font-face {
  font-family: "Splatfont";
  src: url(./assets/fonts/Splatfont2.woff) format("woff"),
  url(./assets/fonts/ProjectPaintball.woff) format("ttf");
}

.col-md-6 .gearWrapper {
  padding-left: 18px;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.splatheader {
  box-shadow: 0 2px 10px 2px #000;
  z-index:1 !important ;
  background: #222;
  text-align: center;
  padding:20px;
}

.splatheader img {
  height:100px;
}

.notEligible {
  background: rgba(255,0,0,0.5)
}

.abilityicon {
  z-index: 2 !important;
  border-radius: 50%;
  width:56px;
  height:56px;
  background:#000;
  border: 2px solid #888;
  border-right: 0px;
  border-bottom: 0px;
  background-size:100%;
  box-shadow: 0 0 0 1px #000;
}

.gear .abilityicon.large {
  margin-top:4px;
}

.small {
  width:48px;
  height:48px;
}

.large {
  width:64px;
  height:64px;
}

#loadout {
  padding-top:5px;
  box-shadow: -2px 4px 4px 2px #000;
  background: #222;
  background-image: url("assets/img/ui/zig-zag.png"), url("assets/img/ui/zig-zag.png"), url("assets/img/ui/zig-zag.png");
  background-size: 80px 80px;
}

#abilitybox {
  text-align:center;
}

#abilitybox .abilityicon {
  margin-left: 4px;
  margin-bottom:4px;
  margin-right: 4px;
}

.footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  font-family: "Splatfont";
  color: #999;
  font-size: 12pt;
  text-align: center;
}

.footer a, .footer a:visited {
  text-decoration: none !important;
  color: #bbb !important;
}

.footer a:hover, .footer a:focus, .footer a:active {
  color: #fff !important;
  text-decoration: none !important;
}

.basic-content {
  color: #fff;
  font-family: "Splatfont";
  font-size: 12pt;
  padding-left: 20px;
  padding-right: 20px;
}

.basic-content a, .basic-content a:visited {
  text-decoration: none !important;
  color: #19e1ba !important;
}

.basic-content a:hover, .basic-content a:focus, .basic-content a:active {
  color: #fff !important;
  text-decoration: none !important;
}

#statbox {
  padding-top:5px;
  font-family: "Splatfont";
  background: #c9c9c9;
  background-image: url("assets/img/ui/bg-dots.png"), url("assets/img/ui/bg-spots.png");
  background-size: 50px 50px, 300px 300px;
  box-shadow: 2px 4px 4px 2px #000;
    margin-bottom: 100px;
}

#statbox h3 {
  font-family:"Splatfont";
  margin: 4px !important;
  margin-left:12px !important;
}

.statlabel {
  background: rgba(0,0,0,0.6);
  font-family: "Splatfont";
  display:block;
  border-radius:10px;
  padding: 5px;
  padding-bottom:8px;
  margin-bottom: 5px;
  color: #fff;
}

.subspeicon {
  background:rgba(0,0,0,0.5);
  border-radius:5px;
  height:48px
}
.subspe-bubble {
  background: rgba(0,0,0,0.5);
  padding:0px;
  border-radius: 5px;
  text-align:left;
  font-size:12pt;
  font-family:"Splatfont";
  color:#fff;
}

.statbar {
  font-family: "Splatfont";
  color:black;
  margin:0px !important;
  background: #000 !important;
}

.statbar.mini {
  margin-top: 3px !important;
  border-radius: 0px;
  height:15px;
}

.progress-bar-pink {
  color:black !important;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  background: repeating-linear-gradient(
    45deg,
    #f22d8a,
    #f22d8a 15px,
    #d11b71 15px,
    #d11b71 30px
    );
  }

  .fa-ban {
    color: #f22d8a;
  }

  .labelright {
    position:absolute;
    right: 0px;
    text-align: right;
    padding-right:25px;
  }

  #maincontainer {
  }

  .abilitybox .col-md-12 {
    padding: 8px;
  }

  .nopadding {
    padding: 0px !important;
  }

  .lightup {
    border: 3px solid #fff;
  }

  .gearicon {
    width:64px;
    height:64px;
    margin:auto;
    display:block;
  }


  .bubble {
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    border-left: solid 4px rgba(255,255,255,0.4);
    border-top: solid 4px rgba(255,255,255,0.4);
    border-right: solid 4px rgba(0,0,0,0.2);
    border-bottom: solid 4px rgba(0,0,0,0.2);
    box-shadow: 0 0 0 2px rgba(255,255,255,0.3);
    margin: 5px;
    padding:2px;
  }

  .bubble.clickable:hover {
    background: rgba(255,255,255,0.4)
  }

  .lvl-target {
    border:solid 2px #fff;
  }

  .splatfont-white {
    font-family: "Splatfont";
    font-size: 16pt;
    color: #fff;
  }

  .icon-button {
    cursor:pointer;
    color: #fff;
    font-size:20pt;
  }

  .fa.green {
    color: #00ff00;
  }

  .fa.red {
    color: #ff0000;
  }

  .icon-button:hover {
    color: #ccc;
  }

  .btn {
    background: #000;
    font-family:"Splatfont";
    color: #fff;
    min-width: 60px;
  }

  .btn:hover {
    color: #ccc !important;
  }

  .edit-button {
    float:right;
    margin-right:16px;
    font-size:12pt;
    padding-top:5px;
    cursor:pointer;
  }

  .itemcard {
    height:160px;
    border-radius: 25px;
    padding: 10px;
    margin:4px;
    padding-top:0px;
    overflow:hidden;
  }

  .itemcard .abilityicon {
    margin:2px;
  }

  #weapon {
    height: 105px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #weapon .subspe-bubble {
    margin-right:10px;
  }

  #weapon .col-xs-7 .row {
    padding-top:8px;
  }
  #weaponicon {
    max-height:60px;
    width:auto;
  }

  #utils {
    padding-top:15px;
    height: 105px;
    text-align: center;
  }

  #dialog {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height:auto;
  }

  #gearpicker-stats {
    background: rgba(0,0,0,0.5);
    padding:0px;
    border-radius: 5px;
    font-size:10pt;
    font-family:"Splatfont";
    color:#fff;
  }

  #minibar-container {
    background:rgba(0,0,0,0.5);
    border:3px solid rgba(0,0,0,0);
    border-radius:6px;
    margin-top:4px;
  }

  .picker {
    height:260px;
    overflow-y:scroll;
    background: rgba(0,0,0,0.2);
    background-image: url("assets/img/ui/bg-dots.png");
    background-size: 50px 50px;
    background-attachment:local;
    border-bottom: none;
    border-top: none;
  }

  .picker-right {
    text-align:center;
  }

  @media only screen and (min-width:992px) {
    .picker-right {
      padding-left:0px !important;
    }
  }

  .minibar-label {
    font-family:"Splatfont";
    text-align:right;
    vertical-align: middle;
    color:#fff;
    font-size:9pt;
    padding-right:4px !important
  }

  .cardheader {
    padding-top:4px;
    padding-bottom:2px;
    background: rgba(20,20,20,0.8);
    background-image: url("assets/img/ui/bg-dots.png");
    background-size: 50px 50px;
    font-family: "Paintball";
    font-size: 16pt;
    text-align:center;
    color: #fff;
  }

  html {
    overflow-y: scroll;
  }
  .row.match-my-cols {
    overflow: hidden;
  }

  .matched{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
  }

  .loadout {
    background: #000;
  }

  .bgstripes {
    background: repeating-linear-gradient(
      45deg,
      #0eed5d,
      #0eed5d 30px,
      #09cd4e 30px,
      #09cd4e 60px
      );
    }

    .neonstripes {
      background: repeating-linear-gradient(
        45deg,
        #dbe826,
        #dbe826 30px,
        #c4d412 30px,
        #c4d412 60px
        );
      }

      .redstripes {
        background: repeating-linear-gradient(
          45deg,
          #d63e53,
          #d63e53 30px,
          #f0624a 30px,
          #f0624a 60px
          );
        }

        .tealstripes {
          background: repeating-linear-gradient(
            45deg,
            #19e1ba,
            #19e1ba 30px,
            #06be8a 30px,
            #06be8a 60px
            );
          }

          .orangestripes {
            background: repeating-linear-gradient(
              45deg,
              #f07807,
              #f07807 30px,
              #d25012 30px,
              #d25012 60px
              );
            }

            .blackstripes {
              background: repeating-linear-gradient(
                45deg,
                #222,
                #222 30px,
                #444 30px,
                #444 60px
                );
              }

              .purplestripes {
                background: repeating-linear-gradient(
                  45deg,
                  #842cd6,
                  #842cd6 30px,
                  #6b01bb 30px,
                  #6b01bb 60px
                  );
                }

                .panel-stats {
                  border: 0px !important;

                }

                .panel-stats .panel-heading {
                  border-radius: 5px;
                  background: repeating-linear-gradient(
                    45deg,
                    #8ffe19,
                    #8ffe19 30px,
                    #5ade09 30px,
                    #5ade09 60px
                    );
                  }
