body {
  background: #ccc !important
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.abilityicon {
  border-radius: 50%;
  width:56px;
  height:56px;
  background:#000;
  border: 2px solid #888;
  border-right: 0px;
  border-bottom: 0px;
  background-size:100%;
  box-shadow: 0 0 0 1px #000;
}

.gear .abilityicon.large {
  margin-top:4px;
}

.small {
  width:48px;
  height:48px;
}

.large {
  width:64px;
  height:64px;
}

.abilitybox {
  text-align:center;
}

.abilitybox .abilityicon {
  margin-left: 4px;
  margin-right: 4px;
  display: inline-block;
}

.maincontainer {
  background: #fff;
}

.abilitybox .col-md-12 {
  padding: 8px;
}

.nopadding {
  padding: 0px !important;
}

.lightup {
  border: 3px solid #fff;
}

.gearicon {
  width:64px;
  height:64px;
  margin:auto;
  display:block;
}


.bubble {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  border-left: solid 4px rgba(255,255,255,0.4);
  border-top: solid 4px rgba(255,255,255,0.4);
  border-right: solid 4px rgba(0,0,0,0.2);
  border-bottom: solid 4px rgba(0,0,0,0.2);
  box-shadow: 0 0 0 2px rgba(255,255,255,0.3);
  margin: 5px;
  padding:2px;
}

.lvl-target {
  border:solid 2px #fff;
}

.gear{
  background:#00ff00;
  border-radius: 25px;
  border: solid 4px #eee;
  padding: 3px;
}

.weapon {
  background:#00ff00;
  border-radius: 25px;
  padding:10px;
}

.weaponicon {
  max-height:90px;
  width:auto;
}

.weaponicon.bubble {
  border-left: solid 6px rgba(255,255,255,0.4);
  border-top: solid 6px rgba(255,255,255,0.4);
  border-right: solid 6px rgba(0,0,0,0.2);
  border-bottom: solid 6px rgba(0,0,0,0.2);
  box-shadow: 0 0 0 3px rgba(255,255,255,0.3);
}

.row.match-my-cols {
    overflow: hidden;
}

.matched{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.grey {
  background: #eee
}

.bgstripes {
  background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
}
