body {
  background: #222 !important;
}

@font-face {
    font-family: "Paintball";
    src: url(./ProjectPaintball.woff) format("woff"),
    url(./ProjectPaintball.ttf) format("ttf");
}

@font-face {
    font-family: "Splatfont";
    src: url(./Splatfont2.woff) format("woff"),
    url(./ProjectPaintball.woff) format("ttf");
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.splatheader {
  background: #222;
  text-align: center;
  padding:20px;
}

.splatheader img {
  height:100px;
}

.abilityicon {
  border-radius: 50%;
  width:56px;
  height:56px;
  background:#000;
  border: 2px solid #888;
  border-right: 0px;
  border-bottom: 0px;
  background-size:100%;
  box-shadow: 0 0 0 1px #000;
}

.gear .abilityicon.large {
  margin-top:4px;
}

.small {
  width:48px;
  height:48px;
}

.large {
  width:64px;
  height:64px;
}

.abilitybox {
  text-align:center;
}

.abilitybox .abilityicon {
  margin-left: 4px;
  margin-bottom:4px;
  margin-right: 4px;
}

.statbox {
font-family: "Splatfont";
  background: repeating-linear-gradient(
  45deg,
  #c9c9c9,
  #c9c9c9 30px,
  #bbbbbb 30px,
  #bbbbbb 60px
);
  background-attachment:fixed;
}

.statlabel {
  background: rgba(0,0,0,0.6);
  font-family: "Splatfont";
  display:block;
  border-radius:10px;
  padding: 5px;
  padding-bottom:8px;
  margin-bottom: 5px;
  color: #fff;
}

.statbar {
  font-family: "Splatfont";
  color:black;
  margin:0px !important;
  background: #000 !important;
}

.progress-bar-test {
  color:black !important;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  background: repeating-linear-gradient(
  45deg,
  #f22d8a,
  #f22d8a 15px,
  #d11b71 15px,
  #d11b71 30px
);
}

.maincontainer {
}

.abilitybox .col-md-12 {
  padding: 8px;
}

.nopadding {
  padding: 0px !important;
}

.lightup {
  border: 3px solid #fff;
}

.gearicon {
  width:64px;
  height:64px;
  margin:auto;
  display:block;
}


.bubble {
  background: rgba(255,255,255,0.2);
  border-radius: 10px;
  border-left: solid 4px rgba(255,255,255,0.4);
  border-top: solid 4px rgba(255,255,255,0.4);
  border-right: solid 4px rgba(0,0,0,0.2);
  border-bottom: solid 4px rgba(0,0,0,0.2);
  box-shadow: 0 0 0 2px rgba(255,255,255,0.3);
  margin: 5px;
  padding:2px;
}

.bubble.clickable:hover {
    background: rgba(255,255,255,0.4)
}

.lvl-target {
  border:solid 2px #fff;
}

.gear{
  background:#00ff00;
  border-radius: 25px;
  border: solid 4px #eee;
  padding: 3px;
  padding-top:0px;
  overflow:hidden;
}

.splatfont-white {
  font-family: "Splatfont";
  font-size: 16pt;
  color: #fff;
}

.edit-button {
  float:right;
  margin-right:16px;
  font-size:12pt;
  padding-top:5px;
  cursor:pointer;
}

.weapon {
  background:#00ff00;
  border-radius: 25px;
  padding:10px;
  padding-top:0px;
  overflow:hidden;
}

.cardheader {
  padding-top:4px;
  padding-bottom:2px;
  background: rgba(20,20,20,0.8);
  font-family: "Paintball";
  font-size: 16pt;
  text-align:center;
  color: #fff;
}

.weaponicon {
  max-height:90px;
  width:auto;
}

.weaponicon.bubble {
  border-left: solid 6px rgba(255,255,255,0.4);
  border-top: solid 6px rgba(255,255,255,0.4);
  border-right: solid 6px rgba(0,0,0,0.2);
  border-bottom: solid 6px rgba(0,0,0,0.2);
  box-shadow: 0 0 0 3px rgba(255,255,255,0.3);
}
html {
  overflow-y: scroll;
}
.row.match-my-cols {
    overflow: hidden;
}

.matched{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.grey {
  background: #eee
}

.bgstripes {
  background: repeating-linear-gradient(
  45deg,
  #0eed5d,
  #0eed5d 30px,
  #09cd4e 30px,
  #09cd4e 60px
);
}

.neonstripes {
  background: repeating-linear-gradient(
  45deg,
  #dbe826,
  #dbe826 30px,
  #c4d412 30px,
  #c4d412 60px
);
}

.redstripes {
  background: repeating-linear-gradient(
  45deg,
  #d63e53,
  #d63e53 30px,
  #f0624a 30px,
  #f0624a 60px
);
}

.tealstripes {
  background: repeating-linear-gradient(
  45deg,
  #19e1ba,
  #19e1ba 30px,
  #06be8a 30px,
  #06be8a 60px
);
}

.orangestripes {
  background: repeating-linear-gradient(
  45deg,
  #f07807,
  #f07807 30px,
  #d25012 30px,
  #d25012 60px
);
}

.blackstripes {
  background: repeating-linear-gradient(
  45deg,
  #222,
  #222 30px,
  #444 30px,
  #444 60px
);
}
.panel-stats {
  border: 0px !important;

}

.panel-stats .panel-heading {
  border-radius: 5px;
  background: repeating-linear-gradient(
  45deg,
  #0eed5d,
  #0eed5d 30px,
  #09cd4e 30px,
  #09cd4e 60px
);
}
