<!DOCTYPE html>
<html>
<head>
  <title>Splatoon 2 Calculator</title>
  <script src="lib/jquery/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
  <script src="lib/angular-animate.min.js"></script>
  <script src="lib/angular-touch.min.js"></script>
  <script src="lib/jquery-ui-custom/jquery-ui.js"></script>
  <script src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <link rel="stylesheet" href="lib/jquery-ui-custom/jquery-ui.css">
  <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>

  <script src="./util.js"></script>
  <script src="./calc.js"></script>
  <script src="./loadout.js"></script>
  <script src="./encode.js"></script>
  <link rel="stylesheet" href="./calc.css">
  <script src="./skills.js"></script>
  <script src="./weapons.js"></script>
  <script src="./subs.js"></script>
  <script src="./specials.js"></script>
  <script src="./hats.js"></script>
  <script src="./clothes.js"></script>
  <script src="./shoes.js"></script>
  <script src="./gear.js"></script>
  <script src="./stats.js"></script>
  <script src="./ui.js"></script>
  <script src="./modals.js"></script>
  <script src="https://use.fontawesome.com/c7118d472c.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div ng-app="splatApp" ng-controller="splatController">
      <script type="text/ng-template" id="blankModal.html">
        <div class="modal" ng-style="{'z-index': 1050 + index*10, display: 'block'}">
            <div class="modal-dialog " role="document">
                <div class="modal-body" ng-transclude></div>
            </div>
        </div>
      </script>

  <header class="hero-unit splatheader blackstripes">
    <img src="./img/ui/logo.png" />
  </header>
  <div class="container" id="maincontainer">
    <div class="row match-my-cols">
      <div class="col-md-6 col-xs-12" id="loadout">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-sm-6 nopadding">
                <div class="itemcard neonstripes" id="weapon">
                  <div class="row cardheader">
                  <span ng-controller="ModalCtrl" ng-click="openWeaponPicker()" class="glyphicon glyphicon-pencil icon-button edit-button "></span>
                      {{loadout.weapon.name}}
                  </div>
                  <div class="row">
                    <div class="col-sm-5" align=center>
                      <img id="weaponicon" fallback-img ng-src="{{loadout.weapon.image}}"/>
                    </div>
                    <div class="col-sm-7">
                        <div class="row">
                        <div class="col-xs-4 nopadding">
                        <img fallback-img ng-src="{{getSubByName(loadout.weapon.sub).image}}" class="subspeicon" /><br>
                      </div>
                      <div class="col-xs-8 nopadding">
                        <div class="subspe-bubble">
                          <img fallback-img ng-src="{{getSpecialByName(loadout.weapon.special).image}}" class="subspeicon" />
                            {{getAdjustedSpecialCost(loadout)}}p
                        </div>
                      </div>
                    </div>

                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 nopadding">
                <div class="itemcard purplestripes" id="utils">

                  <div class="row">
                    <div class="col-xs-4">
                  <span id="copybtn" class="icon-button fa-3x fa fa-clipboard" data-clipboard-text="{{encodedURL()}}" uib-tooltip="Copy Link" tooltip-append-to-body="true"></span>
                </div>
                  <div class="col-xs-4">
                  <span class="icon-button fa-3x fa fa-undo" ng-click="loadout.clearAbilities()" uib-tooltip="Clear Abilities" tooltip-append-to-body="true"></span>
                </div>
                  <div class="col-xs-4">
                  <span class="icon-button fa-3x fa fa-bomb" ng-click="resetLoadout()" uib-tooltip="Clear All" tooltip-append-to-body="true"></span>
                </div>
                </div>

                <div class="row">
                  <div class="col-xs-12">
                    <span class="splatfont-white">
                    ver. 1.0 <span class="icon-button fa fa-question-circle-o" ng-controller="ModalCtrl" uib-tooltip="What's New?" ng-click="openChangelog()" tooltip-append-to-body="true"></span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 col-sm-4 itemcard redstripes">
              <div class="row cardheader">
                <span ng-controller="ModalCtrl" ng-click="openGearPicker(hats,loadout.head.equipped,'head')" class="glyphicon glyphicon-pencil icon-button edit-button "></span>
                Head
              </div>
                <div class="row">
                  <div class="col-md-6 col-xs-6 nopadding"  align="center">
                    <div class="gearWrapper" style="position:relative">
                      <img fallback-img class="gearicon" ng-src="{{loadout.head.equipped.image}}" />
                      <span style="position:absolute;left:20px;top:5px;">
                        <span class="fa fa-4x fa-ban text-danger" uib-tooltip="Not possible with selected main" tooltip-append-to-body="true" ng-if="!isPossibleMain(loadout.head.equipped,loadout.head.main.name)"></span>
                      </span>
                      <span style="position:absolute; right:0px; bottom:0px;">
                      <img ng-if="loadout.head.main?loadout.head.equipped.main!=loadout.head.main.name?isPossibleMain(loadout.head.equipped,loadout.head.main.name)?loadout.head.equipped.brand!='Grizzco'?true:falsee:false:false:false" src="img/misc/annie.png" uib-tooltip="Non-standard. Only on SplatNet" tooltip-append-to-body="true" style="width:24px;" />
                    </span>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="abilityicon large" draggable-ability ability-slot="loadout.head.main" contains-exclusive="{{loadout.head.main?loadout.head.main.exclusive?true:false:false}}" style="background-image:url({{loadout.head.getmainIcon()}})"></div></div>
                </div>
                <div class="row">
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.head.subs[0]" style="background-image:url({{loadout.head.getSubIcon(0)}})"></div></div>
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.head.subs[1]" style="background-image:url({{loadout.head.getSubIcon(1)}})"></div></div>
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.head.subs[2]" style="background-image:url({{loadout.head.getSubIcon(2)}})"></div></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 itemcard tealstripes">
              <div class="row cardheader">
                <span ng-controller="ModalCtrl" ng-click="openGearPicker(clothes,loadout.clothes.equipped,'clothes')" class="glyphicon glyphicon-pencil icon-button edit-button "></span>
                Clothes
              </div>
                <div class="row">
                  <div class="col-md-6 col-xs-6 nopadding"  align="center">
                  <div class="gearWrapper" style="position:relative" align="center">
                    <img fallback-img class="gearicon" ng-src="{{loadout.clothes.equipped.image}}" />
                    <span style="position:absolute;left:20px;top:5px;">
                      <span class="fa fa-4x fa-ban text-danger" uib-tooltip="Not possible with selected main" tooltip-append-to-body="true" ng-if="!isPossibleMain(loadout.clothes.equipped,loadout.clothes.main.name)"></span>
                    </span>
                      <span style="position:absolute; right:0px; bottom:0px;">
                      <img ng-if="loadout.clothes.main?loadout.clothes.equipped.main!=loadout.clothes.main.name?isPossibleMain(loadout.clothes.equipped,loadout.clothes.main.name)?loadout.clothes.equipped.brand!='Grizzco'?true:false:false:false:false" src="img/misc/annie.png" uib-tooltip="Non-standard. Only on SplatNet" tooltip-append-to-body="true" style="width:24px;" />
                    </span>
                  </div>
                </div>
                  <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="abilityicon large" draggable-ability ability-slot="loadout.clothes.main"  contains-exclusive="{{loadout.clothes.main?loadout.clothes.main.exclusive?true:false:false}}" style="background-image:url({{loadout.clothes.getmainIcon()}})"></div></div>
                </div>
                <div class="row">
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.clothes.subs[0]" style="background-image:url({{loadout.clothes.getSubIcon(0)}})"></div></div>
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.clothes.subs[1]" style="background-image:url({{loadout.clothes.getSubIcon(1)}})"></div></div>
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.clothes.subs[2]" style="background-image:url({{loadout.clothes.getSubIcon(2)}})"></div></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 itemcard orangestripes">
                <div class="row cardheader">
                  <span ng-controller="ModalCtrl" ng-click="openGearPicker(shoes,loadout.shoes.equipped,'shoes')" class="glyphicon glyphicon-pencil icon-button edit-button "></span>
                  Shoes
                </div>
                  <div class="row">
                    <div class="col-md-6 col-xs-6 nopadding"  align="center">
                      <div class="gearWrapper" style="position:relative">
                        <img fallback-img class="gearicon" ng-src="{{loadout.shoes.equipped.image}}" />
                        <span style="position:absolute;left:16px;top:0px;">
                          <img src="img/ui/notPossible.png" uib-tooltip="Not possible with selected main" tooltip-append-to-body="true" ng-if="!isPossibleMain(loadout.shoes.equipped,loadout.shoes.main.name)" />
                        </span>
                        <span style="position:absolute;left:20px;top:5px;">
                          <span class="fa fa-4x fa-ban text-danger" uib-tooltip="Not possible with selected main" tooltip-append-to-body="true" ng-if="!isPossibleMain(loadout.shoes.equipped,loadout.shoes.main.name)"></span>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="abilityicon large" draggable-ability ability-slot="loadout.shoes.main" contains-exclusive="{{loadout.shoes.main?loadout.shoes.main.exclusive?true:false:false}}" style="background-image:url({{loadout.shoes.getmainIcon()}})"></div></div>
                  </div>
                  <div class="row">
                    <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.shoes.subs[0]" style="background-image:url({{loadout.shoes.getSubIcon(0)}})"></div></div>
                    <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.shoes.subs[1]" style="background-image:url({{loadout.shoes.getSubIcon(1)}})"></div></div>
                    <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.shoes.subs[2]" style="background-image:url({{loadout.shoes.getSubIcon(2)}})"></div></div>
                  </div>
            </div>
          </div>
        </div>
      </div>
      <div id="abilitybox" ability-box>
        <div class="row">
          <div class="blackstripes">
            <img fallback-img ng-repeat="skill in getStackableSkills()" class="abilityicon" ability-menu uib-tooltip="{{skill.name}}"  tooltip-append-to-body="true" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" ng-src="{{skill.image}}">
          </div>
        </div>
        <div class="row">
          <div class="blackstripes">
            <img fallback-img ng-repeat="skill in getExclusiveSkills('loadout.head.main')" class="abilityicon" ability-menu uib-tooltip="{{skill.name}}" tooltip-append-to-body="true"  ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" ng-src="{{skill.image}}">
            <img fallback-img ng-repeat="skill in getExclusiveSkills('loadout.clothes.main')" class="abilityicon" ability-menu uib-tooltip="{{skill.name}}"  tooltip-append-to-body="true" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" ng-src="{{skill.image}}">
            <img fallback-img ng-repeat="skill in getExclusiveSkills('loadout.shoes.main')" class="abilityicon" ability-menu uib-tooltip="{{skill.name}}"  tooltip-append-to-body="true" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" ng-src="{{skill.image}}">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 statbox matched">
      <div class="row">
      <h4 style="font-family:Splatfont">Stats (Hover/touch for details) </h4>
        <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="stat in stats">
          <div class="statlabel">
          {{stat.name}}
          <uib-progressbar type="test" value="stat.calc(loadout)" max="stat.max" tooltip-placement="bottom" uib-tooltip="{{stat.desc}}" class="statbar">{{stat.calc(loadout) + stat.unit}}</uib-progressbar>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <uib-accordion>
            <div uib-accordion-group class="panel-stats" is-open="status.open">
              <uib-accordion-heading>
                Bomb Damage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </uib-accordion-heading>
              <table class="table table-sm">
                <tr>
                  <th>Bomb</th>
                  <th>Direct</th>
                  <th>Near</th>
                  <th>Far</th>
                </tr>
                <tbody>
                  <tr ng-repeat="sub in getDamagingSubs()">
                    <td>{{sub.name}}</td>
                    <td>{{getAdjustedSubSpeDamage(sub,loadout)["Direct"]}}</td>
                    <td>{{getAdjustedSubSpeDamage(sub,loadout)["Near"]}}</td>
                    <td>{{getAdjustedSubSpeDamage(sub,loadout)["Far"]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div uib-accordion-group class="panel-stats" is-open="status.speOpen">
              <uib-accordion-heading>
                Special Damage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.speOpen, 'glyphicon-chevron-right': !status.speOpen}"></i>
              </uib-accordion-heading>
              <table class="table table-sm">
                <tr>
                  <th>Special</th>
                  <th>Hit</th>
                  <th>Near</th>
                  <th>Far</th>
                </tr>
                <tbody>
                  <tr ng-repeat="special in getDamagingSpecials()">
                    <td>{{special.name}}</td>
                    <td>{{getAdjustedSubSpeDamage(special,loadout)["Direct"]}}</td>
                    <td>{{getAdjustedSubSpeDamage(special,loadout)["Near"]}}</td>
                    <td>{{getAdjustedSubSpeDamage(special,loadout)["Far"]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </uib-accordion>
        </div>
      </div>
        </div>
    </div>
  </div>
  <div id="draggable-parent"></div>
  </body>
  </html>
