<!DOCTYPE html>
<html>
<head>
<script src="lib/jquery/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
  <script src="lib/angular-animate.min.js"></script>
  <script src="lib/angular-touch.min.js"></script>
  <script src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <script src="lib/jquery-ui-custom/jquery-ui.js"></script>
  <link rel="stylesheet" href="lib/jquery-ui-custom/jquery-ui.css">


  <script src="./loadout.js"></script>
  <script src="./calc.js"></script>
  <link rel="stylesheet" href="./calc.css">
  <script src="./skills.js"></script>
  <script src="./weapons.js"></script>
  <script src="./subs.js"></script>
  <script src="./stats.js"></script>
  <script src="./ui.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div class="container" ng-app="splatApp" ng-controller="splatController">
    <div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="row">
          <div class="col-md-12 weapon">
            <div class="row">
              <div class="col-md-6">
                <select class="form-control dropdown-toggle" data-ng-options="x.type for x in weaponSets" data-ng-model="selectedSet" ng-change="switchSet()"></select>
              </div>
              <div class="col-md-6">
                <select class="form-control dropdown-toggle" data-ng-options="x.name for x in availableWeapons()" data-ng-model="loadout.weapon"></select>
              </div>
          </div>
            <div style="height:150px"><img src="{{loadout.weapon.image}}" /></div>
          </div>
        </div>

        <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="col-md-4 col-sm-4 gear bgstripes">
              <div class="row">
                <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="geariconbg"><img class="gearicon" src="./img/gear/Hed_EYE011.png" /></div></div>
                <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="circle large" draggable-ability ability-slot="loadout.head.main" contains-exclusive="{{loadout.head.main?loadout.head.main.exclusive?true:false:false}}" style="background-image:url({{loadout.head.getmainIcon()}})"></div>
              </div>
              </div>
              <div class="row">
                <div class="col-xs-4 nopadding" align="center"><div class="circle small" draggable-ability ability-slot="loadout.head.subs[0]" style="background-image:url({{loadout.head.getSubIcon(0)}})"></div></div>
                <div class="col-xs-4 nopadding" align="center"><div class="circle small" draggable-ability ability-slot="loadout.head.subs[1]" style="background-image:url({{loadout.head.getSubIcon(1)}})"></div></div>
                <div class="col-xs-4 nopadding" align="center"><div class="circle small" draggable-ability ability-slot="loadout.head.subs[2]" style="background-image:url({{loadout.head.getSubIcon(2)}})"></div></div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 gear bgstripes">
              <div class="row">
                <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="geariconbg"><img class="gearicon" src="./img/gear/Clt_PRK005.png" /></div></div>
                <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="circle large" draggable-ability ability-slot="loadout.clothes.main"  contains-exclusive="{{loadout.clothes.main?loadout.clothes.main.exclusive?true:false:false}}" style="background-image:url({{loadout.clothes.getmainIcon()}})"></div>
              </div>
              </div>
              <div class="row">
                <div class="col-xs-4 nopadding" align="center"><div class="circle small" draggable-ability ability-slot="loadout.clothes.subs[0]" style="background-image:url({{loadout.clothes.getSubIcon(0)}})"></div></div>
                <div class="col-xs-4 nopadding" align="center"><div class="circle small" draggable-ability ability-slot="loadout.clothes.subs[1]" style="background-image:url({{loadout.clothes.getSubIcon(1)}})"></div></div>
                <div class="col-xs-4 nopadding" align="center"><div class="circle small" draggable-ability ability-slot="loadout.clothes.subs[2]" style="background-image:url({{loadout.clothes.getSubIcon(2)}})"></div></div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 gear bgstripes">
              <div class="row">
                <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="geariconbg"><img class="gearicon" src="./img/gear/Shs_SHI004.png" /></div></div>
                <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="circle large" draggable-ability ability-slot="loadout.shoes.main" contains-exclusive="{{loadout.shoes.main?loadout.shoes.main.exclusive?true:false:false}}"  style="background-image:url({{loadout.shoes.getmainIcon()}})"></div>
              </div>
              </div>
              <div class="row">
                <div class="col-xs-4 nopadding" align="center"><div class="circle small" draggable-ability ability-slot="loadout.shoes.subs[0]" style="background-image:url({{loadout.shoes.getSubIcon(0)}})">></div></div>
                <div class="col-xs-4 nopadding" align="center"><div class="circle small" draggable-ability ability-slot="loadout.shoes.subs[1]" style="background-image:url({{loadout.shoes.getSubIcon(1)}})"></div></div>
                <div class="col-xs-4 nopadding" align="center"><div class="circle small" draggable-ability ability-slot="loadout.shoes.subs[2]" style="background-image:url({{loadout.shoes.getSubIcon(2)}})"></div></div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="abilitybox" ability-box>
      <div class="row">
        <div class="col-md-12">
          <div ng-repeat="skill in getStackableSkills()" class="circle" ability-menu uib-tooltip="{{skill.name}}" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" style="background-image:url('{{skill.image}}')"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div ng-repeat="skill in getExclusiveSkills('loadout.head.main')" class="circle" ability-menu uib-tooltip="{{skill.name}}" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" style="background-image:url('{{skill.image}}')"></div>
          <div ng-repeat="skill in getExclusiveSkills('loadout.clothes.main')" class="circle" ability-menu uib-tooltip="{{skill.name}}" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" style="background-image:url('{{skill.image}}')"></div>
          <div ng-repeat="skill in getExclusiveSkills('loadout.shoes.main')" class="circle" ability-menu uib-tooltip="{{skill.name}}" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" style="background-image:url('{{skill.image}}')"></div>
        </div>
    </div>
  </div>
  </div>
    <div class="col-md-6 col-xs-12">
    <div class="row">
      <h4>Stats (Hover/touch for details) <small tooltip-placement="bottom" uib-tooltip="There isn't full data on all of the abilities in Splatoon 2 yet. Check back later!">Why are stats missing?</small></h5>
        <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="stat in stats">
          {{stat.name}}
          <uib-progressbar value="stat.calc(loadout)" max="stat.max" tooltip-placement="bottom" uib-tooltip="{{stat.desc}}" class="progress-striped">{{stat.calc(loadout).toFixed(1) + stat.unit}}</uib-progressbar>
        </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <uib-accordion>
        <div uib-accordion-group class="panel-default" is-open="status.open">
          <uib-accordion-heading>
            Bomb Damage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </uib-accordion-heading>
      <table class="table table-sm">
        <tr>
          <th>Bomb</th>
          <th>Direct</th>
          <th>Near</th>
          <th>Far</th>
        </tr>
        <tbody>
          <tr ng-repeat="sub in getDamagingSubs()">
            <td>{{sub.name}}</td>
            <td>{{getAdjustedSubSpeDamage(sub,loadout)["Direct"]}}</td>
            <td>{{getAdjustedSubSpeDamage(sub,loadout)["Near"]}}</td>
            <td>{{getAdjustedSubSpeDamage(sub,loadout)["Far"]}}</td>
          </tr>
        </tbody>
      </table>
    </uib-accordion>
  </div>
    </div>
  </div>
  </div>
</div>
</div>
</body>
</html>
