<!DOCTYPE html>
<html>
<head>
  <title>Splatoon 2 Calculator</title>
  <script src="lib/jquery/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.js"></script>
  <script src="lib/angular-animate.min.js"></script>
  <script src="lib/angular-touch.min.js"></script>
  <script src="lib/jquery-ui-custom/jquery-ui.js"></script>
  <script src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
  <link rel="stylesheet" href="lib/jquery-ui-custom/jquery-ui.css">


  <script src="./loadout.js"></script>
  <script src="./calc.js"></script>
  <link rel="stylesheet" href="./calc.css">
  <script src="./skills.js"></script>
  <script src="./weapons.js"></script>
  <script src="./subs.js"></script>
  <script src="./stats.js"></script>
  <script src="./ui.js"></script>
  <script src="./modals.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <div ng-app="splatApp" ng-controller="splatController">
    <div ng-controller="ModalDemoCtrl">
      <script type="text/ng-template" id="myModalContent.html">
        <div class="row">
        <div class="col-md-12">
          <div class="weapon bgstripes">
          <div class="row weaponheader">
            <div class="col-md-6">
              <select class="form-control dropdown-toggle" data-ng-options="x.type for x in weaponSets" data-ng-model="selectedSet" ng-change="switchSet()"></select>
            </div>
            <div class="col-md-6">
              <select class="form-control dropdown-toggle" data-ng-options="x.name for x in availableWeapons()" data-ng-model="selectedWeapon"></select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5" style="min-height:180px" align="center">
              <img fallback-img class="weaponicon bubble" style="max-height:200px; width: auto;" ng-controller="ModalDemoCtrl" ng-src="{{selectedWeapon.image}}"/>
            </div>
          <div class="col-md-7" align="center">
            <img fallback-img ng-src="{{getSubIcon(selectedWeapon.sub)}}" uib-tooltip="{{selectedWeapon.sub}}" tooltip-placement="top" style="background:rgba(0,0,0,0.5); border-radius:8px; height:48px" />
            <img fallback-img ng-src="img/subspe/Wsp_Jetpack.png" uib-tooltip="{{selectedWeapon.sub}}" tooltip-placement="top" style="background:rgba(0,0,0,0.5); border-radius:8px; height:48px"  />
            <br>
            <h3>{{selectedWeapon.specialCost}}p</h3>
              more stats blah blah
          </div>
        </div>
          <div class="row">
            <div class="col-md-6">
              <button class="btn" type="button" ng-click="ok()">OK</button>
            </div>
            <div class="col-md-6">
            <button class="btn" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
      </div>
    </div>
  </div>
      </script>

      <script type="text/ng-template" id="custom.html">
        <div class="modal" ng-style="{'z-index': 1050 + index*10, display: 'block'}">
            <div class="modal-dialog " role="document">
                <div class="modal-body" ng-transclude></div>
            </div>
        </div>
      </script>
    </div>

  <header class="hero-unit" style="height:100px; text-align: center; background: #fff">
    Splatoon 2 Stat Calculator
  </header>
  <div class="container maincontainer">
    <div class="row match-my-cols">
      <div class="col-md-6 col-xs-12 grey matched">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12 nopadding">
                <div class="weapon bgstripes">
                  <div class="row weaponheader">
                    <div class="col-md-12" style="color:#fff">
                      Equipped: {{loadout.weapon.name}}
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5" align=center>
                      <img fallback-img class="weaponicon bubble clickable" ng-controller="ModalDemoCtrl" ng-src="{{loadout.weapon.image}}"  ng-click="open()" />
                    </div>
                    <div class="col-sm-7" align=center>
                      <img fallback-img ng-src="{{getSubByName(loadout.weapon.sub).image}}" uib-tooltip="{{loadout.weapon.sub}}" tooltip-placement="top" style="background:rgba(0,0,0,0.5); border-radius:8px; height:48px" />
                      <img fallback-img ng-src="img/subspe/Wsp_Jetpack.png" uib-tooltip="{{loadout.weapon.sub}}" tooltip-placement="top" style="background:rgba(0,0,0,0.5); border-radius:8px; height:48px"  />
                      <br>
                      <h3>{{loadout.weapon.specialCost}}p</h3>
                        more stats blah blah
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 col-sm-4 gear bgstripes">
                <div class="row">
                  <div class="col-md-6 col-xs-6 nopadding"  align="center"><img fallback-img class="gearicon bubble" ng-src="./img/gear/Hed_EYE011.png" /></div>
                  <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="abilityicon large" draggable-ability ability-slot="loadout.head.main" contains-exclusive="{{loadout.head.main?loadout.head.main.exclusive?true:false:false}}" style="background-image:url({{loadout.head.getmainIcon()}})"></div></div>
                </div>
                <div class="row">
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.head.subs[0]" style="background-image:url({{loadout.head.getSubIcon(0)}})"></div></div>
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.head.subs[1]" style="background-image:url({{loadout.head.getSubIcon(1)}})"></div></div>
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.head.subs[2]" style="background-image:url({{loadout.head.getSubIcon(2)}})"></div></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 gear bgstripes">
                <div class="row">
                  <div class="col-md-6 col-xs-6 nopadding" align="center"><img fallback-img class="gearicon bubble" ng-src="./img/gear/Clt_PRK005.png"></div>
                  <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="abilityicon large" draggable-ability ability-slot="loadout.clothes.main"  contains-exclusive="{{loadout.clothes.main?loadout.clothes.main.exclusive?true:false:false}}" style="background-image:url({{loadout.clothes.getmainIcon()}})"></div></div>
                </div>
                <div class="row">
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.clothes.subs[0]" style="background-image:url({{loadout.clothes.getSubIcon(0)}})"></div></div>
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.clothes.subs[1]" style="background-image:url({{loadout.clothes.getSubIcon(1)}})"></div></div>
                  <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.clothes.subs[2]" style="background-image:url({{loadout.clothes.getSubIcon(2)}})"></div></div>
                </div>
              </div>
              <div class="col-md-4 col-sm-4 gear bgstripes">
                <div class="row">
                  <div class="col-md-6 col-xs-6 nopadding" align="center"><img fallback-img class="gearicon bubble" ng-src="./img/gear/Shs_SHI004.png" /></div>
                  <div class="col-md-6 col-xs-6 nopadding" align="center"><div class="abilityicon large" draggable-ability ability-slot="loadout.shoes.main" contains-exclusive="{{loadout.shoes.main?loadout.shoes.main.exclusive?true:false:false}}"  style="background-image:url({{loadout.shoes.getmainIcon()}})"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.shoes.subs[0]" style="background-image:url({{loadout.shoes.getSubIcon(0)}})">></div></div>
                <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.shoes.subs[1]" style="background-image:url({{loadout.shoes.getSubIcon(1)}})"></div></div>
                <div class="col-xs-4 nopadding" align="center"><div class="abilityicon small" draggable-ability ability-slot="loadout.shoes.subs[2]" style="background-image:url({{loadout.shoes.getSubIcon(2)}})"></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="abilitybox" ability-box>
        <div class="row">
          <div class="col-md-12">
            <img fallback-img ng-repeat="skill in getStackableSkills()" class="abilityicon" ability-menu uib-tooltip="{{skill.name}}" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" ng-src="{{skill.image}}">
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <img fallback-img ng-repeat="skill in getExclusiveSkills('loadout.head.main')" class="abilityicon" ability-menu uib-tooltip="{{skill.name}}" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" ng-src="{{skill.image}}">
            <img fallback-img ng-repeat="skill in getExclusiveSkills('loadout.clothes.main')" class="abilityicon" ability-menu uib-tooltip="{{skill.name}}" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" ng-src="{{skill.image}}">
            <img fallback-img ng-repeat="skill in getExclusiveSkills('loadout.shoes.main')" class="abilityicon" ability-menu uib-tooltip="{{skill.name}}" ng-click="loadout.setOpenSlot(skill)" draggable-ability skill="{{skill}}" ng-src="{{skill.image}}">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-xs-12 statbox matched">
      <div class="row">
      <h4>Stats (Hover/touch for details) <small tooltip-placement="bottom" uib-tooltip="There isn't full data on all of the abilities in Splatoon 2 yet. Check back later!">Why are stats missing?</small></h5>
        <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="stat in stats">
          {{stat.name}}
          <uib-progressbar value="stat.calc(loadout)" max="stat.max" tooltip-placement="bottom" uib-tooltip="{{stat.desc}}" class="progress-striped">{{stat.calc(loadout).toFixed(1) + stat.unit}}</uib-progressbar>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.open">
              <uib-accordion-heading>
                Bomb Damage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              </uib-accordion-heading>
              <table class="table table-sm">
                <tr>
                  <th>Bomb</th>
                  <th>Direct</th>
                  <th>Near</th>
                  <th>Far</th>
                </tr>
                <tbody>
                  <tr ng-repeat="sub in getDamagingSubs()">
                    <td>{{sub.name}}</td>
                    <td>{{getAdjustedSubSpeDamage(sub,loadout)["Direct"]}}</td>
                    <td>{{getAdjustedSubSpeDamage(sub,loadout)["Near"]}}</td>
                    <td>{{getAdjustedSubSpeDamage(sub,loadout)["Far"]}}</td>
                  </tr>
                </tbody>
              </table>
            </uib-accordion>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  </body>
  </html>
